<body>
   <header id="master">
      <h1><a href="http://copperthoughts.com">C<span class="orange">o</span>pper Thoughts </a></h1>
      <span id="tagline"> The <span class="blue">archives</span> rest here. </span>
    </header>

    <article>
        <header>
            <h1><a href="p/new-blog/">New Blog</a></h1>
            <time pubdate="2010-8-21T18:56" pubdate>21.08.2010</time>
        </header>
        <span class="summary">Wherein I discuss my recent move away from Wordpress.</span>
    </article>
</body>