<body>
    
    <header id="master">
      <h1><a href="http://copperthoughts.com">C<span class="orange">o</span>pper Thoughts </a></h1>
      <span id="tagline"> A web λog by <span class="blue">Isaac Hodes</span>.</span>
      <nav>
        <ul>
          <li><a href="colophon.html">colophon <span class="orange">»</span></a> </li>
          <li><a href="archives.html">archives <span class="orange">»</span></a> </li>
          <!--<li><a href="projects/">projects <span class="orange">»</span></a> </li>-->
          <li><a href="http://www.twitter.com/ihodes">twitter <span class="orange">»</span></a> </li>
          <li><a href="feed.xml">rss <span class="orange">»</span></a> </li>
        </ul>
      </nav>
    </header>


    <section>


      <article>
            <header>
              <h1><a href="p/new-blog/">The New Copper Thoughts</a></h1>
              <time datetime="2010-08-21T20:30" pubdate> 21.08.2010 </time>
            </header>
            <section>
            
            </section>      
      </article>
      
      
    </section>
    
</body>