<html>
<head>
</head>
<body>

    <header id="master">
      <h2><a href="http://copperthoughts.com">C<span class="orange">o</span>pper Thoughts </a></h2>
    </header>

    <article>
      <header>
        <h1>An Article Here</h1>
        <time datetime="2010-08-21T16:14" pubdate> 21.8.2010 </time>
      </header>
      <section>
      </section>
    </article>
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /**
      * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
      */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://copperthoughts.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=copperthoughts">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>


    <script type="text/javascript">
      var disqus_shortname = 'copperthoughts';
      (function () {
      var s = document.createElement('script'); s.async = true;
      s.src = 'http://disqus.com/forums/copperthoughts/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    
    
</body>
</html>