<!DOCTYPE html> 

<html lang="en"> 
  <head> 
    <title>Copper Thoughts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/master.css" />
  </head>
  <body>
    <div id="header"> 
      <div id="head-wrap">
        <div id="header-titles">
          <h2>here be</h2>
          <h1>Copper Thoughts.</h1>
        </div>
        <div id="twitter">
          <img id="twitter-icon" src="img/birdie.png" />
          <ul id="twitter_update_list"></ul> 
          <a href="http://twitter.com/ihodes" id="twitter-link">follow me on <span id="twit-bigger">Twitter</span></a> 
        </div>
      </div>
    </div>
    <div id="content">
      <div id="sidebar">
        <div id="rss">
          <a href="#">here's my rss</a>
          <a href="#"><img id="rss-icon" src="img/rss.png" /></a>
        </div>
        <img id="portrait" src="img/isaac.jpeg" />
        <ul>
          <li><a href="archive.html">Archives</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="cg-wrap">
        <div class="cg-post">
           <a class="cg-post-title" href="#"><span class="cg-post-title">Another Season, Another Term</span></a><br /><div id="lilmargie"></div>
          <span class="cg-post-author">by Isaac Hodes</span>
          <span class="cg-post-pubdate">on March 27th, 2010</span>
          <div class="cg-post-text">
            <p>In an hour or so I’ll be heading back up to Northfield, Minnesota to finish the last ten weeks of school before my summer break. It’s not to too cold up there anymore–around 48ºF–about short-sleeve weather. Definitely flip-flops. I think I saw some people wearing their Birkenstocks when it was less than 10ºF… the cold does strange things to you, I suppose.</p>
            <p>This term I’ll be taking the second-to-last required French class, something I’m mostly dreading. If this weren’t a requirement, I’d be able to take another Computer Science class instead; but instead, I’m going to spend 10 more weeks (and then 10 more after that) grinding away at material that goes in one side of my head and right out the other. This is something that could be called “lost utility.” It’s really a shame, because the professors are great, but this kind of learning doesn’t work for me: I don’t learn by listening to a lecture on a language, nor do I learn by repeating phrases into a microphone until my own voice begins to annoy me.</p>
            <p>I do get to take a seminar on Set Theory, which should be the highlight of the term. In case you’re unfamiliar with it, Set Theory is basically a math course in which you imagine different ways you can make groups of elements (think of them as objects, or simply numbers like 1, 2, 3) into other groups of elements. It’s like playing with Legos.</p>
            <p>Finally, I’ll be taking a 300-level (highest level at Carleton) class on Operating Systems, which should be fun, but no doubt it won’t be terribly informative given that I spend a lot of free time messing about with them on remote servers and my local machine… but hey, it could be fun. If it doesn’t end up being very exciting, I will probably switch classes to Automata and Computability, a more abstract CS class where we learn about what can and can not be computed. The problem with this class is the time: 8:30am. That just can’t work.</p>
            <p>In my free time I’ll be working as the student government’s elected Vice President, trying to get our 100 year old student union building rebuilt, among other things, continue tutoring Calculus and take long walks in the arboretum (for lack of a beach to walk on instead). And I’ll continue working with my NY-based partner in bootstrapping a startup which I hope to announce soon(ish).</p>
          </div>
        <a id="comment-link" href="#">comments »</a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-text">A blog written and designed by Isaac Hodes, served by (<a href="http://mediatemple.net/" id="mt-text">mt</a>) and <a href="http://haveamint.com/" id="mint-text">Minted</a> with love<img src="img/mint.png" id="mint-icon" /></div>
    </div>
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script> 
    <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/ihodes.json?callback=twitterCallback2&amp;count=1"></script> 
  </body>
</html>
